p{
    font-weight: 600;
    margin-right: 30px;
}
.deleteVolunteer{
   border:none;
   height:30px;
   position: relative;
   top:20px;
   margin-left: auto;
   margin-right:30px;
}
#dltBtn{
    width: 21px;
    height: 21px;
}