.eachTask{
    width:570x;
    height:219px;
    background-color:#FFFFFF;;
    box-shadow: 0px 10px 30px  gray;
    border-radius: 10px; 
    display:flex;  
}
#taskImage{
    width:194px;
    height: 173px;
    border-radius: 15px;
    /* display: block; */
    margin: 20px 0 0 20px;
}
.container{
    margin:40px auto 0 auto;
}
#task{
    font-size:24px;
    font-weight:900;
    text-align:left;
    line-height:32.78px;
}
#date{
    font-size:20px;
    font-weight:600;
    text-align:left;
    line-height:26px;
}
#taskInformation{
    margin-left: 7px;
    

}
#cancelBtn{
    width:131px;
    height: 48px;
    /* padding: 2px 5px; */
    background-color:#E3E3E3;
    border-radius:5px;
    position: relative;
    top:-60px;
    right: 10px;
    float: right;
    border:none;
}